vc100
vc110
vc120
vc140
vc141
vc142
x64
config.opt
.vs
**/*.dir
**/*.sdf
**/*.VC.db
**/ipch*
**/*.obj
**/*.lib
**/*.exp
**/*.exe
**/*.pdb
**/*.log
**/*.ilk
**/*.jar
*.pdb
swig/setup.ini
swig/java/org/gdal/gdal/Band.java
swig/java/org/gdal/gdal/BuildVRTOptions.java
swig/java/org/gdal/gdal/ColorTable.java
swig/java/org/gdal/gdal/Dataset.java
swig/java/org/gdal/gdal/DEMProcessingOptions.java
swig/java/org/gdal/gdal/Driver.java
swig/java/org/gdal/gdal/GCP.java
swig/java/org/gdal/gdal/gdal.java
swig/java/org/gdal/gdal/gdalJNI.java
swig/java/org/gdal/gdal/GridOptions.java
swig/java/org/gdal/gdal/InfoOptions.java
swig/java/org/gdal/gdal/MajorObject.java
swig/java/org/gdal/gdal/NearblackOptions.java
swig/java/org/gdal/gdal/ProgressCallback.java
swig/java/org/gdal/gdal/RasterAttributeTable.java
swig/java/org/gdal/gdal/RasterizeOptions.java
swig/java/org/gdal/gdal/SWIGTYPE_p_int.java
swig/java/org/gdal/gdal/TermProgressCallback.java
swig/java/org/gdal/gdal/Transformer.java
swig/java/org/gdal/gdal/TranslateOptions.java
swig/java/org/gdal/gdal/VectorTranslateOptions.java
swig/java/org/gdal/gdal/WarpOptions.java
swig/java/org/gdal/gdal/XMLNode.java
swig/java/org/gdal/gdal/XMLNodeType.java
swig/java/org/gdal/gdalconst/gdalconst.java
swig/java/org/gdal/gdalconst/gdalconstConstants.java
swig/java/org/gdal/gdalconst/gdalconstJNI.java
swig/java/org/gdal/gnm/GenericNetwork.java
swig/java/org/gdal/gnm/gnm.java
swig/java/org/gdal/gnm/gnmConstants.java
swig/java/org/gdal/gnm/gnmJNI.java
swig/java/org/gdal/gnm/GraphAlgorithm.java
swig/java/org/gdal/gnm/Network.java
swig/java/org/gdal/gnm/ProgressCallback.java
swig/java/org/gdal/gnm/TermProgressCallback.java
swig/java/org/gdal/ogr/DataSource.java
swig/java/org/gdal/ogr/Driver.java
swig/java/org/gdal/ogr/Feature.java
swig/java/org/gdal/ogr/FeatureDefn.java
swig/java/org/gdal/ogr/FeatureNative.java
swig/java/org/gdal/ogr/FieldDefn.java
swig/java/org/gdal/ogr/Geometry.java
swig/java/org/gdal/ogr/GeometryNative.java
swig/java/org/gdal/ogr/GeomFieldDefn.java
swig/java/org/gdal/ogr/Layer.java
swig/java/org/gdal/ogr/ogr.java
swig/java/org/gdal/ogr/ogrConstants.java
swig/java/org/gdal/ogr/ogrJNI.java
swig/java/org/gdal/ogr/ProgressCallback.java
swig/java/org/gdal/ogr/StyleTable.java
swig/java/org/gdal/ogr/TermProgressCallback.java
swig/java/org/gdal/osr/CoordinateTransformation.java
swig/java/org/gdal/osr/osr.java
swig/java/org/gdal/osr/osrConstants.java
swig/java/org/gdal/osr/osrJNI.java
swig/java/org/gdal/osr/SpatialReference.java
makegdal14.VC.VC.opendb
Environment.opt
Debug/makegdal141.vcxprojAssemblyReference.cache
Release/makegdal141.vcxprojAssemblyReference.cache
swig/java/org/gdal/gdal/SWIGTYPE_p_CPLErrorHandler.java
swig/java/org/gdal/gdal/SWIGTYPE_p_void.java
